body {
  padding-top: 50px;
}

.container {
  padding: 40px 15px;
  text-align: center;
}

.intro-section {
  padding: 40px 15px;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

.scott {
  padding: 40px 15px;
  text-align: center;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  display: inline;
}

.shelby {
  padding: 40px 15px;
  text-align: right;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  display: inline;
}
